[submodule "WishboneAXI"]
	path = WishboneAXI
	url = https://github.com/qermit/WishboneAXI
[submodule "vivado_custom_ip"]
	path = vivado_custom_ip
	url = https://github.com/barawn/vivado_custom_ip
[submodule "verilog-library-barawn"]
	path = verilog-library-barawn
	url = https://github.com/barawn/verilog-library-barawn
[submodule "wb2axip"]
	path = wb2axip
	url = https://github.com/ZipCPU/wb2axip
